body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.list {
  list-style: none;
}

/* site nav */
/* logo */
.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo-accent {
  color: #212121;
}
/* не знаю чи потрібно
.logo-accent:hover,
.logo-accent:focus {
    color: #2196f3
} */

.main-nav-items {
}

.main-nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: #2196f3;
}

.main-nav-call {
}
.main-nav-call-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.main-nav-call-link:hover,
.main-nav-call-link:focus {
    color: #2196F3;
}
